@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

nav {
  background-color: #ae1a1a;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar, .navbar * {
  font-family: 'Instrument Serif', serif !important;
}

